header {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}
header h1 i {
    margin-right: 20px;
}
header h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header div {
    width: 7%;
    display: flex;
    align-items: center;
}
header div a {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: all 0.1s ease-in-out;
}
header div a:hover {
    background-color: black;
    color: white;
}
header div a i {
    margin-right: 10px;
}
main {
    font-size: 140%;
    background-color: rgb(230, 230, 230);
    padding: 50px;
    margin: 50px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main p {
    width: 50%;
}

@media screen and (max-width:788px) {
    
    h1 {
        font-size: larger;
        margin: 0;
        padding: 0;
    }
    header h1 i {
        margin-right: 5px !important;
    }
    header i {
        margin: 0 !important;
    }
    header {
        margin-top: 20px;
    }
    main {
        font-size: small;
        padding: 50px 0;
    }

}